<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1>我是about 版本:04470456</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum quam a enim nisi temporibus corrupti, minima veritatis repudiandae magnam aliquam quae quidem accusantium fugit, iusto quibusdam sapiente molestiae, atque illum sunt adipisci harum exercitationem error obcaecati? Tempore quis maxime tenetur.</p>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
